{% extends "layout.html" %}

{% block title %} - Add Blog{% endblock %}
{% block addstuff %}
<script src="{{ url_for('static',filename='editor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='jscolor/jscolor.js') }}"></script>
{% endblock  %}

{% block content %}

<h2 class="whatisthis">Add Blog</h2>

{% if preview == "1" %}
<h2>Preview:</h2>
<div class="blogpost previewblog">
<div class="title"><h2><a>{{ title }}</a></h2></div>

<div class="blogtext previewtext"><p> {{ renderedblog|safe }} </p></div>
</div>
{% endif %}


<form id="addblogform" name="addblogform" method="post" action="{{ url_for('commitblog') }}">
<h5>Title:</h5>
<input name="title" type="text" value="{{ title }}" />
<h5>Blogpost:</h5>

<div class="colorpicker">
Color picker: <input style="width:90px"; type="text" class="color {hash:true,pickerMode:'HVS',pickerPosition:'top'}">
</div>
{% block bbstuff %}
<div class="bbstuff">
<input type="button" name="bold" value="B" onclick="javascript:addtag('contentArea','bold');">
<input type="button" name="italic" value="I" onclick="javascript:addtag('contentArea','italic');">
<input type="button" name="uline" value="U" onclick="javascript:addtag('contentArea','underline');">
<input type="button" name="strikethrough" value="S" onclick="javascript:addtag('contentArea','strikethrough');">
<input type="button" name="url" value="URL" onclick="javascript:addtag('contentArea','url');">
<input type="button" name="img" value="IMG" onclick="javascript:addtag('contentArea','img');">
<input type="button" name="color" value="Color" onclick="javascript:addtag('contentArea','color');">
<input type="button" name="youtube" value="Youtube" onclick="javascript:addtag('contentArea','youtube');">
<input type="button" name="list" value="List" onclick="javascript:addtag('contentArea','list');">
<input type="button" name="size" value="Size" onclick="javascript:addtag('contentArea','size');">
<br/>
</div>
{% endblock %}



<textarea id="contentArea" name="blogpost" cols="100" rows="20">{{ blogpost }}</textarea><br>
<input name="submit" type="submit" value="Submit Blog" />
<input name="preview" type="submit" value="Preview Blog" />
<input type='submit' value="Save as Draft" onclick="addblogform.action='{{ url_for('adddraft') }}'; return true;">
</form>

{% include "examples.html" %}

{% endblock %}
